{{>header}}

<h1>Bienvenido a la página de Educación Continua del T de A</h1>
<p>Nuestra página está en construcción</p>
<h6>Por favor tenga paciencia. Los creadores estamos en parciales finales.</h6>
{{>footer}}